/* 
    Document   : AdminStyleSheet
    Created on : Oct 29, 2011, 10:23:49 AM
    Author     : Shirshendu Das (shirshendu.iitg[at]gmail.com)
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body{ 
    margin:0; 
    padding:10px; 
    text-align:center; 
    /*    background-color: #ffffff;*/
}

#bodyPanel{
    width:940px; 
    text-align:left; 
    margin:0 auto; 
    border-style:solid;
    border-width:2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: #ffffff;
}

#adminHeader{
    width: inherit;
    height: 100px;
    background-color: #006600;
    text-align: center;
    
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #990000;
    background-image: url(../images/faculty_background.jpg);
}


#adminMiddle{
    width: 940px;
    background-color: #ffffff;
    min-height: 600px;
}

#adminMiddle2{
    width: 940px;
    background-color: #ffffff;
    min-height: 500px;
}

#adminFooter{
    width: inherit;
    background-color: green;
    height: 25px;
    text-align: center;
}

#adminVMenuItem{
    width: inherit;
    color: darkgreen;
    font-family: cursive;
    padding-top: 10px;
    border-bottom-style: double;
    border-bottom-width: 4px;
    border-bottom-color: #990033;
}

#adminHeaderTitle{
    width: inherit;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 20px;
    color: #ffffff;
}

#adminHeaderLocation{
    width: inherit;
    text-align: center;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #ffffff;
}

#adminMiddleContent{
    width: 940px;
}


#adminMiddleHeader{
    
}


.myHeaderMenuStrip{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbad4b), color-stop(1, #47943d) );
    background:-moz-linear-gradient( center top, #dbad4b 5%, #47943d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbad4b', endColorstr='#47943d');
    background-color:#dbad4b;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:2px solid #0a030a;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration:none;
    text-shadow:1px 1px 3px #614261;
    width: 937px;
    height: 15px;
    text-align: center;
}.myHeaderMenuStrip:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #47943d), color-stop(1, #dbad4b) );
    background:-moz-linear-gradient( center top, #47943d 5%, #dbad4b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#47943d', endColorstr='#dbad4b');
    background-color:#47943d;
}.myHeaderMenuStrip:active {
    position:relative;
    top:1px;
}

.headerMenueLink{
    text-decoration: none;
    color: #ffffff;
}

.adminVMenuItemLInk{
    width: inherit;
    color: darkgreen;
    font-family: cursive;
    text-decoration: none;
    font-size: 18px;
}

a{
    text-decoration: none;
}


/*
For Index page
*/
#bTPanel{
    padding-top: 30px;
    width: 940px;
    float: left;
}
#bTPanelTitle{
    width: inherit;
    height: 30px;
    text-align: center;
    color: #006600;
    
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
}
#bTPanelInfo{
    width: inherit;
    height: 20px;
    text-align: center;
    color: blue;
    
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
}
#bTListHeader{
    width: 940px;
    background-color: #cccccc;
    float: left;
    height: 25px;
    color: black;
    
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
#bTSrlNo{
    width: 50px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#bTRollNo{
    width: 100px;
    height: inherit;
    float: left;
    color: inherit;
    text-align: center;
}
#bTName{
    width: 200px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#bTThesisLink{
    width: 90px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#bTPermission{
    width: 170px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#bTPlagiarism{
    width: 70px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#bTStatus{
    width: 220px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}



#mTPanel{
    padding-top: 50px;
    width: 940px;
    float: left;
}
#mTPanelTitle{
    width: inherit;
    height: 30px;
    text-align: center;
    color: #006600;
    
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
}
#mTListHeader{
    width: 940px;
    background-color: #cccccc;
    float: left;
    height: 25px;
    color: #000000;
    
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
#mTSrlNo{
    width: 50px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#mTRollNo{
    width: 100px;
    height: inherit;
    float: left;
    color: inherit;
    text-align: center;
}
#mTName{
    width: 250px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#mTThesisLink{
    width: 100px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#mTPermission{
    width: 200px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#mTStatus{
    width: 200px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}




#ListEvenRow{
    width: 940px;
    background-color: burlywood;
    float: left;
    height: 45px;
    color: #000000;
    
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
}
#ListOddRow{
    width: 940px;
    background-color: #ffffff;
    float: left;
    height: 45px;
    color: #000000;
    
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
}
#TSrlNoValue{
    width: 50px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#RollNoValue{
    width: 100px;
    height: inherit;
    float: left;
    color: inherit;
    text-align: center;
}
#NameValue{
    width: 200px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#ThesisLinkValue{
    width: 90px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#PermissionValue{
    width: 170px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}

#Plaigiarism{
    width: 70px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
.StatusValue{
    width: 220px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}


/***********
    ADDED
************/
#bmessagePanel{
    padding-top: 30px;
    width: 940px;
    float: left;
}
#messagePanelTitle{
    width: inherit;
    height: 30px;
    text-align: center;
    color: #006600;
    
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
}
#messagePanelInfo{
    width: inherit;
    height: 20px;
    text-align: center;
    color: blue;
    
    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
}
#messageListHeader{
    width: 940px;
    background-color: #cccccc;
    float: left;
    height: 25px;
    color: black;
    
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
#messageSrlNo{
    width: 100px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#messageRollNo{
    width: 150px;
    height: inherit;
    float: left;
    color: inherit;
    text-align: center;
}
#messageName{
    width: 400px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#messageText{
    width: 120px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#messageReply{
    width: 150px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}

#messageSrlNoValue{
    width: 100px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#messageRollNoValue{
    width: 150px;
    height: inherit;
    float: left;
    color: inherit;
    text-align: center;
}
#messageNameValue{
    width: 400px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#messageTextValue{
    font-size: 12px;
    width: 120px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}
#messageReplyValue{
    width: 150px;
    height: inherit;
    color: inherit;
    float: left;
    text-align: center;
}